body{

    
    background:black; 
}

    .container{
        margin-top: 100px;
        margin-left: 650px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        
       
        
    }



.card{

    width: 500px;
    height: 800px;
    background:black;
    border-radius: 20px;
    
    box-shadow:  white 0px 22px 70px 4px;

}
.E{
    color: white;
    text-align: center;
    font-weight: 600;
}